@font-face {
    font-family: Minecraft;
    src: url('MinecraftRegular.ttf')
}

body {
    margin: 0;
    background-color: #121212;
    color: #fff;
    font-family: Minecraft;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #181818;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav .logo {
    font-size: 1.5em;
    color: #EEC643;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}

.menu-toggle {
    display: none;
    font-size: 1.5em;
    color: #fff;
    cursor: pointer;
}

.home-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #141414;
    padding: 40px 20px;
    text-align: center;
}

.home-section .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-section .profile-pic img {
    width: 200px;
    border-radius: 50%;
}

.home-section h1 {
    margin: 20px 0 10px;
    font-size: 2.5em;
}

.home-section h1 span {
    color: #EEC643;
}

.home-section p span {
    color: #EEC643;
}

.home-section .social-icons {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.home-section .social-icons a {
    color: #fff;
    font-size: 1.5em;
}

.home-section button {
    background-color: #EEC643;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.typing-text {
    font-size: 20px;
    font-weight: 600;
    min-width: 280px;
    position: relative;
}

.intro p {
    font-size: small;
    overflow-x: auto;
}

.typing-text span {
    position: relative;
    display: inline-block;
    /* Ensures the pseudo-element stays within the bounds */
    white-space: nowrap;
}

.typing-text span::before {
    content: '';
    color: #EEC643;
    animation: words 20s infinite;
}

.typing-text span::after {
    content: '';
    background: #141414;
    position: absolute;
    width: 100%;
    height: 100%;
    border-left: 3px solid #EEC643;
    top: 0;
    right: 0;
    /* Changed to 'right: 0' to align from the right */
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

section {
    padding: 40px 20px;
    text-align: center;
}

#projects .project-list,
#skills .skills-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

#skills {
    background-color: #141414;
}

.project-item {
    background-color: #2a2a2a;
    padding: 20px;
    border-radius: 15px;
    border: 1.5px;
    border-style: solid;
    border-color: #EEC643;
    width: 200px;
}

.skill-item {
    background-color: #2a2a2a;
    padding: 20px;
    border-radius: 5px;
}

#contact form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

#contact form input,
#contact form textarea {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

#contact form button {
    background-color: #EEC643;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background-color: #181818;
    text-align: center;
    padding: 10px 0;
}

li a.active {
    color: #EEC643;
    text-decoration: underline;
}


/* Timeline Styles */

.timeline {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    overflow-x: auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #EEC643;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.timeline-item {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.timeline-item::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: white;
    border: 4px solid #EEC643;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.timeline-item.left {
    left: -12.5%;
}

.timeline-item.left::after {
    right: -12px;
}

.timeline-item.right {
    left: 50%;
}

.timeline-item.right::after {
    left: -16px;
}

.timeline-content {
    padding: 20px 30px;
    background-color: #333;
    position: relative;
    border-radius: 6px;
    border: 1px solid #EEC643;
}

.timeline-content h3 {
    margin-top: 0;
    color: #EEC643;
}

.social-icons a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    ;
    width: 4rem;
    height: 4rem;
}

@keyframes cursor {
    to {
        border-left-color: #141414;
    }
}

@keyframes words {
    0%,
    20% {
        content: 'Web developer';
    }
    21%,
    40% {
        content: 'Software developer';
    }
    41%,
    60% {
        content: 'Web designer';
    }
    61%,
    80% {
        content: 'Student';
    }
    81%,
    100% {
        content: 'Software developer';
    }
}

@keyframes typing {
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 8px);
    }
}

button {
    font-family: Minecraft;
}

@media (max-width: 550px) {
    .nav-links {
        flex-direction: column;
        position: absolute;
        top: 55px;
        right: 0;
        height: auto;
        background-color: rgba(51, 51, 51, 0.9);
        /* Semi-transparent */
        align-items: center;
        justify-content: center;
        display: none;
        border-radius: 8px;
        /* Rounded corners for better appearance */
        padding: 20px;
        /* Padding for better spacing */
    }
    .nav-links.active {
        display: flex;
    }
    .menu-toggle {
        display: block;
    }
}